<%- include('../partials/header') %> 
<h1>ALL FLIGHTS</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>FlightNo</th>
        <th>Destinations</th>
        <th>Departs</th>
        
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
        <tr>
          <td><a href="/show/<%=f._id%> "><%= f.airline %></a></td>
          <td><a href="/show/<%=f._id%> "><%= f.airport %></a></td>
          <td><a href="/show/<%=f._id%> "><%= f.flightNo %></a></td>
          <td><a href="/show/<%=f._id%> "><%= f.destinations %></a></td>
          <td><a href="/show/<%=f._id%> "><%= f.departs %></a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
<%- include('../partials/footer') %> 
