<%- include('../partials/header') %>
<p>Airline:<%= flight.airline%> </p>
<p>Airport:<%= flight.airport %> </p>
<p>Departs:<%= flight.departs %> </p>
<p>Flight #:<%= flight.flightNo %> </p>
<br><br><h2>Destinations</h2>
<form id="add-review-form" method="POST"
  action="/flights">
  <label>Arrival:</label>
  <input type="datetime-local" name="arrdate"></input><br>
  <label>Destination:</label>
  <select name="destinations">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="LAX">LAX</option>
    <option value="DEN">DEN</option>
    <option value="SAN" selected>SAN</option>
  </select>
  <input type="submit" value="Add Destination">
</form>
<div>Tickets:</div>
 
 <a href ="/flights/tickets/new">New Ticket</a>
<%- include('../partials/footer') %>